body{
  font-family: 'Roboto', sans-serif; 
  background-image: linear-gradient(to bottom right, green, blue);
  background-repeat: no-repeat;
  background-size: 100% 360%;
}
header{
  width:100%;
  top: -5%;
  position: fixed;
  transform: skewY(-10deg);
  background-color: black;
  color: white;
  padding: 20px;
  font-family: 'Fjalla One', sans-serif;
  text-shadow: 0px 0px 20px rgb(241, 237, 227);
}

.container{
  margin-top: 165px;
  text-align: center;
}
.items a{
  color: white;
  font-size: 15pt;
  font-weight: bold;
  border: 2px solid black;
  padding: 4px;
}
.table{
  font-size: 15pt;
  width: 100%;
}

